<div data-controller="fusuma" class="fusuma-overlay" aria-hidden="true">
  <div class="fusuma-panel fusuma-left">
    <div class="fusuma-inner">
      <div class="fusuma-handle"></div>
    </div>
  </div>

  <div class="fusuma-panel fusuma-right">
    <div class="fusuma-inner">
      <div class="fusuma-handle"></div>
    </div>
  </div>

  <div class="fusuma-title">
    PK道場
  </div>
</div>
